body{
    background-color: rgba(255, 219, 100, 0.856);
    background-image: none;
}
.sdt{
    color: rgb(0, 0, 0);
    font-size: larger;
    padding-top: 5px;
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgb(255, 199, 14);
    margin: 0 auto;
    bottom: 0;
}

.map{
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;

} 
.lienhe{
    
    display: flex;
    align-items: center;
    justify-content: center; 
    padding:  100px;
   
 }
 #hinh{
     margin: 100px 100px;
 }
 @media screen and (max-width: 700px) and (min-width: 400px){

 }
   